.vermei{
    color: brown;
}

.tamanho{
    height:10rem;
}

.capa{
    max-height: 300px;
    max-width: 230px;
}

.footer{
    position: fixed;
}

@media (max-width: 768px) {
    .buscar{
        width: 12rem;
    }

    .buscar-btn{
        font-size: small;
        width: 5rem;
    }
}